<div style="text-align: center; margin-bottom: 1rem">
    <button class="btn btn-primary" ng-click="startCasting()" ng-disabled="castState !== 'ready' || !castName || !audioDevice" ng-hide="castState === 'connected'">Start casting</button>
    <button class="btn btn-primary" ng-click="stopCasting()" ng-show="castState === 'connected'">Stop casting</button><br>
    <span ng-show="castState === 'searching'">Searching Chromecast...</span>
    <span ng-show="castState === 'connecting'">Connecting...</span>
</div>

<div class="row">
    <div class="col-xs-12">Chromecast:</div>
    <div class="col-xs-12 lead" ng-show="castName">{{castName}}</div>
    <div class="col-xs-12 lead text-muted" ng-show="!castName">Nothing</div>
</div>

<div class="row">
    <div class="col-xs-12">Audio input:</div>
    <div class="col-xs-12 lead">{{audioDevice}}</div>
</div>

<div class="row" ng-show="castState === 'connected'">
    <div class="col-xs-9">
        <div id="slideVolume" class="slider slider-info"></div>
    </div>
    <div class="col-xs-3" id="muteButtons">
        <button class="btn btn-info btn-fab btn-fab-mini btn-round" ng-hide="muted" ng-click="mute(!muted)"><i class="material-icons">volume_off</i></button>
        <button class="btn btn-info btn-fab btn-fab-mini btn-round" ng-show="muted" ng-click="mute(!muted)"><i class="material-icons">volume_up</i></button>
    </div>
</div>
